@model CarSale.Models.CarModel
@{
    ViewData["Title"] = "BookTestDrive";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1> @Html.DisplayFor(car => car.Year) @Html.DisplayFor(car => car.Make) @Html.DisplayFor(car => car.Model) </h1>

</body>
</html>