
@{
    ViewData["Title"] = "Manage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1> Manage</h1>
<div class="list-group">
    <a class="nav-link text-dark list-group-item" asp-area="" asp-controller="CarModels" asp-action="Index">Index</a>
</div>


